@page "/counter"

<PageTitle>Jokes Count</PageTitle>

<h1>Lets get jokes count</h1>
@if (isLoading)
{
    <div class="loader">Loading...</div> <!-- Replace with your actual loader HTML/CSS -->
}
else
{
    <p role="status">Jokes count: @currentCount</p>
}



@code {
    [Inject]
    public IDadJokesService jokesService { get; set; }
    private bool isLoading = true;
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        currentCount = await jokesService.GetJokesCount();
        isLoading = false;
        await base.OnInitializedAsync();
    }
}
