@page "/"


<PageTitle>Index</PageTitle>

<h1>Let's get a Random Joke!</h1>

@if (isLoading)
{
    <div class="loader">Loading...</div>
}
else
{
    @if (randomJoke != null)
    {
        <h6>@randomJoke.setup</h6>
        <h6>@randomJoke.punchline</h6>
    }
    else
    {
        <h6>Unable, to get any jokes at the moment!</h6>
    }
}





@code{

    [Inject]
    public IDadJokesService jokesService { get; set; }
    private Joke randomJoke;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        randomJoke = await jokesService.GetRandomJoke();
        isLoading = false;
        await base.OnInitializedAsync();
    }
}